<h1>New List</h1>


<div class="row">
    <div class="col-12">
        <div class="alert alert-danger" id="alert-list" role="alert" style="display:none;">
            This list already exists.
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-group input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text">Url</span>
            </div>

            <%= text_field_tag 'url', '', :type => 'text', :class => 'form-control' %>
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <%= button_tag 'Create', :class => 'btn btn-primary', :id => 'create-new-list'%>
        </div>
    </div>
</div>

<% content_for :js do%>
 
    $('#create-new-list').on('click',function(){
        $.ajax({
            type: 'POST',
            url: '/api/lists/check',
            data: {name: $('input[name=url]').val().toLowerCase() },
            statusCode: {
                200: function(){
                    $('#alert-list').show('fast');
                },
                204: function(){
                    window.location.href = '/' + $('input[name=url]').val().toLowerCase();
                }
            }
        });
    });
    
<%end%>
